h1 {
  color: black;
  background-color: white;
  text-align: center;
}

th {
  background-color: LightBlue;
}
td {
  height: 15px;
  vertical-align: middle;
  text-align: center;
  background-color: LightBlue;
}
